*{
    margin-left: 10px;
}

h2{
    text-decoration: underline;
}

p{
    margin-left: 20px;
    color: red;
}

input{
    margin-bottom: 20px;
}

.error{
    color: red;
}

.success{
    color: green;
    font-weight: bold;
}